<!DOCTYPE html>
<html lang="fa-IR">

<head>
    <title>Moamele - Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="icon" type="image/x-icon" href="../files/SmallHead.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="author" content="ArshaShokri">
</head>

<body>
    <section id="loginSection">
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <div id="loginCard">
            <form action="/add" method="post">
                <h1>محصول جدید</h1>
                    <div><label for="">اسم</label> <input type="text" placeholder="اسم" name="name"></div>
                    <div><label for="">توضیحات</label><input type="text" placeholder="توضیحات" name="description">
                    </div>
                    <div><label for=""> توضیحات کوتاه</label><input type="text" placeholder="توضیحات کوتاه"
                            name="shortdescription"></div>
                    <div><label for="">قیمت</label> </label><input type="email" placeholder="قیمت" name="price"></div>
                    <button id="loginButton" onclick="submit()">
                        <a href="" style="padding: 0 76px;">اضافه کردن</a>
                    </button>
            </form>
        </div>
    </section>
</body>

</html>